body {
  font-family : 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  color: #222;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.container {
  position: absolute;

  margin: auto;
  width: 600px;
  height: 300px;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.align-center {
  text-align: center;
}

.text-large {
  font-size: 2em;
}

input[type="text"] {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #DDD;
}
input[type="text"]:focus {
  outline: none;
}
